{% extends "citas/base.html" %}

{% block content %}
<div class="super-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <p>{{ mensaje }}</p>
        <div>
          <h1>Detalles de la Cita:</h1>
          <p><strong>Nombre:</strong> {{ cita.nombre_completo }}</p>
          <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
          <p><strong>Hora:</strong> {{ cita.hora }}</p>
          <p><strong>Descripción del Caso:</strong><br/> {{ cita.describe_tu_caso }}</p>
          <a class="btn btn-primary" href="{% url 'citas:cita-form' %}">Volver al inicio</a>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
