{% extends "citas/base.html" %}

{% block title %}Reservar una cita{% endblock title %}

{% block includesHEAD %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
{% endblock includesHEAD %}

{% block content %}
<div class="super-container">
  <div class="container py-5">
    <h1>Reservar tu cita:</h1>
    <hr>
    <div class="row">
      <div class="col-md-12 px-5" id="columna">
        <form method="post">
          {% csrf_token %} 
          <div id="formulario-pasos">
            <div id="paso-1" class="paso">
              <h2>Paso 1:</h2>
              <h5> Seleccione una fecha para su cita:</h5>
              {% comment %} <input type="date" class="form-control" id="date" name="fecha" required> <br> {% endcomment %}
              <div class="calendario py-3">
                <input type="date" id="date" name="fecha" hidden required>
              </div>
              <button class="btn btn-primary mt-3" id="btn-siguiente-1" disabled>Siguiente</button>
            </div>
        
            <div id="paso-2" class="paso">
              <h2>Paso 2:</h2>
              <h5>Ahora seleccione la hora que mejor le venga, según las horas disponibles</h5>
              <select id="hoursDropdown" class="form-select" required name="hora">
                <option selected>Selecciona la hora de la cita</option>
              </select>
              <button class="btn btn-secondary mt-3" id="btn-anterior-2" style="margin-right: 10px;">Atrás</button>
              <button class="btn btn-primary mt-3" id="btn-siguiente-2">Siguiente</button>
            </div>
        
            <div id="paso-3" class="paso">
              <h2>Paso 3: Ya queda poco, ahora rellene con sus datos:</h2>
              <div class="form-group">
                <input type="text" class="form-control mt-3" id="nombreCompleto" name="nombre_completo" placeholder="Ingrese su nombre completo" required>
              </div>

              <div class="form-group">
                <input type="tel" class="form-control mt-3" id="telefonoContacto" name="telefono_contacto" placeholder="Ej: +34 654 321 123" required>
              </div>

              <div class="form-group">
                <input type="email" class="form-control mt-3" id="email" name="email" placeholder="Ingrese su correo electrónico" required>
              </div>

              <div class="form-group">
                <textarea class="form-control mt-3" id="describeTuCaso" name="describe_tu_caso" rows="3" placeholder="Describa en detalle el motivo de su cita" required></textarea>
              </div>
              <p class="my-3">El precio de la cita es de 50€ <strong>Iva Incluido</strong></p>
              <button class="btn btn-secondary mt-3" id="btn-anterior-3" style="margin-right: 10px;">Atrás</button>
              <button type="submit" class="btn btn-primary mt-3" id="btn-enviar">Reservar y pagar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}



  
{% block scripts %}
{% comment %} Manejar Calendario {% endcomment %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const btnSiguiente1 = document.getElementById("btn-siguiente-1");

    function fechaSeleccionada(selectedDates, dateStr, instance) {
      btnSiguiente1.disabled = false;
    }

    flatpickr("#date", {
      enableTime: false,
      dateFormat: "Y-m-d",
      inline: true,
      minDate: "today",
      firstDayOfWeek: 1,
      locale: 'es',
      "disable": [
          function(date) {
              // Deshabilitar los fines de semana: domingo = 0, sábado = 6
              return (date.getDay() === 0 || date.getDay() === 6);
          }
      ],
      onChange: fechaSeleccionada
    });
  });
</script>
{% comment %} Manejo de pestañas y lógica para la peticion {% endcomment %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var pasoActual = 1;
    const totalPasos = 3;
  
    function mostrarPaso(paso) {
      document.querySelectorAll('.paso').forEach(paso => paso.style.display = 'none');
      pasoActual = paso;
      document.getElementById(`paso-${paso}`).style.display = 'block';
      actualizarBotones();
    }
  
    function actualizarBotones() {
      if (pasoActual > 1) {
        document.getElementById(`btn-anterior-${pasoActual}`).style.display = 'inline-block';
      }
    }
  
    async function updateHoursDropdown(fechaSeleccionada) {
      const hoursSelect = document.getElementById('hoursDropdown');
      hoursSelect.innerHTML = '';
      const btnSiguiente2 = document.getElementById("btn-siguiente-2");
      const apiUrl = `/disponibilidad/?fecha=${fechaSeleccionada}`;
      const response = await fetch(apiUrl);
      const data = await response.json();
      
      if (data.horas_disponibles.length > 0) {
        data.horas_disponibles.forEach(hourSlot => {
          const option = document.createElement('option');
          option.value = hourSlot.hora;
          option.text = hourSlot.hora;
          btnSiguiente2.disabled = false;
          hoursSelect.appendChild(option);
        });
      } else {
        const option = document.createElement('option');
        option.value = '';
        option.text = 'No hay horas disponibles';
        option.disabled = true;
        option.selected = true; 
        btnSiguiente2.disabled = true;
        hoursSelect.appendChild(option);
      }
    }
  
    document.getElementById("btn-siguiente-1").addEventListener("click", function(event) {
      event.preventDefault();
      updateHoursDropdown(document.getElementById('date').value);
      if (updateHoursDropdown == false) {
        console.log(updateHoursDropdown)
      }
      mostrarPaso(2);
    });
  
    document.getElementById("btn-siguiente-2").addEventListener("click", function(event) {
      event.preventDefault();
      mostrarPaso(3);
    });
  
    // Añadir los eventos de los botones "Atrás"
    document.getElementById("btn-anterior-2").addEventListener("click", function(e) {
      event.preventDefault()
      mostrarPaso(1);
    });
  
    document.getElementById("btn-anterior-3").addEventListener("click", function(e) {
      event.preventDefault()
      mostrarPaso(2);
    });
  });
  
</script>
{% endblock scripts %}
    